doctype html
html(lang="en")
  head

    //~Set heading and description details based on asset.json object data
    block title
      
    //~Setup default meta data  
    block meta  
      meta( charset='utf-8')
      meta( http-equiv='X-UA-Compatible', content='IE=edge' )
      meta( name='viewport', content='width=device-width,initial-scale=1.0' )

    // ~ set background up before any layout or text
    block background


    //~Set debugging on or off based on asset.json object data
    block debugging
      
      //~Set style sheet links  based on asset.json object data. Add default font.
    block style  
//      link( href='https://fonts.googleapis.com/css?family=Snowburst+One', rel='stylesheet', type='text/css')
body

  block navigation

  block content
  
  block footer

