// landing section
section#landing
  .row
    .article-block
      .article.centered
        br
        svg#icon-quietstarMain(viewbox='0 0 623 143')
          use(xlink:href="#quiet")
          use(xlink:href="#star")
        .text Making the world a quieter place.
        a(href="#landing").btn.btn-action Contact
          span.symbol ❯
        br
        br

