section
    p Test section
    aside
      p Test aside
      p(riot-tag="rt-heading", name="riot", heading="OptHeading")
      h2.rainbow Skeleton Project V12
        #container
          p Beef noodleshuman  warehouse beef noodles free-market neural shrine plastic.
    div.posts
          .post
              img(src="http://placehold.it/500x200.png/308ffe?text=Placeholder")
              article
                  header
                      h3 A Header
                      p Please garage oo god katana garage neon savant man.
          .post
              img(src="http://placehold.it/500x200.png/3830fe?text=Placeholder")
              article
                  header
                      h3 A Header
                      p Help ra advert veranoid warehouse A.I. garage oo god katana garage neon savant man.
          .post
              img(src="http://placehold.it/500x200.png/30f6fe?text=Placeholder")
              article
                  header
                      h3 A Header
                      p Us se A.I. garage oo god katana garage neon savant man.

