.header#menu
    a(href="#landing").btn.btn-info Home
      span.symbol ❯
    a(href="#about").btn.btn-info About
      span.symbol ❯
    a(href="#team").btn.btn-info Team
      span.symbol ❯
    a(href="#services").btn.btn-info Services
      span.symbol ❯
    a(href="#contact").btn.btn-menu Contact
      span.symbol ❯

.overlay-navigation
  svg#icon-quietstar(viewbox='0 0 623 143')
    use(xlink:href="#quiet")
    use(xlink:href="#star")
