// Services
section#services
    .row-half
      .article-third
        .article-block
          .article
            .icon Picture Title
              img(src="http://i.imgbox.com/UaQtaBeC.jpg")
      .article-two-thirds
        .article-block
          .article
            .heading Picture & Text Block
            .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo repellend reiciendis, eaque suscipit vitae voluptate. Mollitia fuga tempore, omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde cum facere at, rem impedit dolorum odit mollitia hic quo molestias explicabo fuga dignissimos animi beatae minima aliquid quaerat officiis praesentium.
            .strap-line 25th December 2015
    .row-half 
      .article-block
        .article.centered
          .heading Over & Under Centered Article Block
          .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum tempore error cumque, quas assumenda possimus rem deserunt repellendus, mollitia cupiditate, praesentium architecto. Quae consequuntur facere voluptatem porro, voluptates aut iste.

