$seed_colour = #308ffe
$analogous = ks-extended-analogous($seed_colour)
  .analogous_a
    background $seed_colour
  .analogous_b
    background $analogous[0]
  .analogous_c
    background $analogous[1]
  .analogous_d
    background $analogous[2]
  .analogous_e
    background $analogous[3]