$highlight_colour = #3084bf
$highlight_dark = darken($highlight_colour,15%)
$highlight_light = lighten($highlight_colour,15%)
$highlight_greyed = lighten(desaturate($highlight_colour,70%),50%)
$highlight_hover = saturate($highlight_light,40%)
$highlight_textover = lighten($highlight_light,50%)

$primary_lime = #CDDC39
$primary_yellow = #FFEB3B
$primary_pink = #E91E63
$primary_indigo = #3F51B5
$dark_primary_yellow = #FBC02D
$dark_primary_indigo = #303F9F
$text_dark = #212121
$text_light = #FFFFFF
$divider_color = #B6B6B6

$dark-grey-background =  #333 
$dark-grey-background = #373B44

$btnBackground = #e2e2e2
$btnText = #666

// social colours
$twitter =  #55acee 
$g-plus =  #dd4b39 
$facebook =  #3b5998 
$l-in =  #0976b4 
$github =  #999 

$textLight = darken(white,8%) 
$textDark = #3d84b6
$textPrimary = #05c6f0 
$textSecondary = #020926
 
$colPrimary = #0665a7
$colSecondary = #0993f3
$colOffset = #044674
$colHighlight = #52b1f3

// quietstar logo colours
$lightfill=#00b8ff
$darkfill=#005ab5


$seed_colour = #308ffe
$analogous = ks-extended-analogous($seed_colour)
  .analogous_a
    background $seed_colour
  .analogous_b
    background $analogous[0]
  .analogous_c
    background $analogous[1]
  .analogous_d
    background $analogous[2]
  .analogous_e
    background $analogous[3]



