// Golden ratios

$phi = 1.618
$golden_major = 0.618
$golden_minor = 0.382

// assumption is that the layout is designed to a primary
// pixed canvas size - lets say desktop 1600x1200 or mobile first 600x800
// the base font size in pixels is the assumed font size of the browser
// often 16px

$base_font_size = 16
$px = ( 1 / $base_font_size ) rem

// rem based calculations are good for keeping page layout nicely
// scalable however we want to use em based scaling when keeping 
// the text proportional to its container is paramount for example
// on buttons or panels

px(val, base = "none")
  if base == "none"
    (val/ $base_font_size) rem
  else
    (val / base) em

$type_h_font_lineheight = 1.313em
$type_h_font_family = 'Alegreya Sans'
$type_h_font_weight = 400
$type_h_font_sizes = {
  'h1': 3,
  'h2': 2.25,
  'h3': 1.5,
  'h4': 1.313,
  'h5': 1.125,
  'h6': 1
}

$type_h_font_vmargin = {
  'h1': 0.563,
  'h2': 0.625,
  'h3': 1.313,
  'h4': 1.313,
  'h5': 1.313,
  'h6': 0.75
}
// default to no scaling i.e. 1
h_tags( $factor = 1)
  h1, h2, h3, h4, h5, h6
    font-family $type_h_font_family
    line-height $type_h_font_lineheight
    font-weight $type_h_font_weight
  for h_lvl, value in $type_h_font_sizes
    {h_lvl}
      // scale the font based on passed in factor
      ((value * $factor) < 1) ? $size = 1 : $size = value * $factor 
      font-size unit($size,em)
      margin unit($type_h_font_vmargin[h_lvl],em) 0





@keyframes my-rainbow-animation
    0%
        color: red
    14%
        color: orange
    28%
        color: yellow
    42%
        color: green
    56%
        color: blue
    70%
        color: indigo
    84%
        color: violet

